[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pylint = "*"
pylint-django = "*"
gunicorn = "*"
python-decouple = "*"
django-environ = "*"
autopep8 = "*"
django-cors-headers = "*"
pillow = "*"
graphene-django = "*"
django-graphql-auth = "*"
graphene-file-upload = "*"
psycopg2 = "*"
django-storages = "*"
boto3 = "*"
django-channels-graphql-ws = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
twisted = {extras = ["http2", "tls"],version = "*"}

[requires]
python_version = "3.7"
